<div class="side-nav-content">
  <ul class="nav-list">
    <li
      *ngFor="let item of list"
      class="nav-list-item border-white"
      [ngClass]="{ 'nav-list-open': sideNavStatus }"
      [routerLink]="item.link"
      routerLinkActive="active"
      >
      <i class="{{ item.icon }} border-white"></i>
      <span
        class="border-white"
        [ngClass]="{ 'nav-item-close': !sideNavStatus }"
        ><a>{{ item.name }}</a></span
      >
    </li>
  </ul>

  <div class="user">
    anshu
  </div>
</div>
